*.mp4
!hero-desktop.mp4
!hero-mobile.mp4
!galeria-calle77.mp4
!galeria-cecilio.mp4
!galeria-corredor.mp4
!galeria-bellavista.mp4
!galeria-5dejulio.mp4
!galeria-vereda.mp4
.DS_Store
test-results/
*.bak*
